<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.TipoItemMapper">
	
	<select parameterType="map" id="consultarClientes" resultMap="ItemRentadoResult">
		select * from VI_ITEMRENTADO;
	</select> 

	<resultMap type='ItemRentado' id='ItemRentadoResult'>
		<id property='id' column='id'/>
		<result property='CLIENTES_documento' column='CLIENTES_documento'/>
		<result property='ITEMS_id' column='ITEMS_id'/>
		<result property='fechainiciorenta' column='fechainiciorenta'/>
		<result property='test' column='test'/>
		<association property='item' ofType='Item' columnPrefix='i_'></association>
	</resultMap>
	
	
</mapper>